    <div class="container">
      <h1 class="repos"><a name="openjournal">OpenJournal</a></h1>
      <p class="by">Mek, October 22, 2012</p>
      <hr/>     
      <h2>Alpha Launch</h2>
      <p>
	I'm proud to announce the &alpha;-launch
	of <span style="padding: 5px; background-color:	#ff7;">
	  <a style="color: blue;" href="http://michaelkarpeles.com:1337"><strong>OpenJournal</strong></a>
	- A community
	for <strong>sharing</strong>, <strong>discussing</strong>,
	and <strong>curating</strong> the world's
	best <strong>computer science, academic
	papers</strong></span>. OpenJournal is a non-proffit service
	which aims to help progress the field of computer science by
	(1) making CS research accessible to the public, faster and
	(2) providing an interface which facilitates discovery of new
	relevant, novel, and impactful papers. This is accomplished,
	in part, by enabling our community to rank/vote and commment
	on papers.
      </p>



      <h3>What's next?</h3>
      <p>Our vision doesn't just apply to information collection and
	retrieval. Over time, it is our intention to influence,
	reform, and improve the actual academic journal-writing
	process in three ways: (1) to increase the overall quality of
	papers, (2) to increase distributed, collaborative efforts around the
	world, and (3) to increase the rate at which papers are
	co-developed and improved. These objectives require attacking key
	aspects like making papers <strong>implementable</strong>,
	<strong>testable</strong>, <strong>forkable</strong> (like git forking),
	<strong>searchable</strong>, <strong>annotatable</strong>
	and most importantly.
      </p>

      <h2>Join the Club</h2>
      <p>OpenJournal is brought to you by
      the <a href="http://angelhack.hackathon.io/hacks/view/24">Lambda
      Herders</a>; a team of computer scientists and entrepreneurs
      from the San Francisco Bay area. We are in the process of
      coordinating partnerships and sponsorships with several of the
      nationals top CS schools and research
      facilities. Please <a href="mailto:michael.karpeles@gmail.com">contact
      us</a> if you are interested in getting involved. Special thanks
      to <a href="http://www.eecis.udel.edu/~ypeng/">Yifan
      Peng</a>, <a href="http://www.peterdowns.com">Peter L
      Downs</a>, <a href="http://zv.github.com/">Zephyr
      Pellerin</a>, <a href="http://stephenbalaban.com">Stephen
      Balaban</a>, <a href="https://www.facebook.com/cAnthonyTucci">Chris
      Tucci</a>, <a href="https://www.facebook.com/44616E20436F7465">Dan
      Cote</a>.

      <h3>Are you a...</h3>
      
	<ul>
	  <li>Knowledgeable computer scientist? <strong>Contribute or <a href="http://michaelkarpeles.com:1337/submit">Submit a paper</a></strong>?</li> 
	  <li>Passionate, patient academic? <strong><a href="mailto:michael.karpeles@gmail.com">Apply</a> to review and vett submitted papers</strong></li>
	  <li>University, Corporation, or Research
	  Facility? <a href="mailto:michael.karpeles@gmail.com"><strong>Become
	  a Sponsor</strong></a> and support our efforts with <strong>permission to 
	  use papers, donating servers, faculty time</strong>
	</ul>
      </p>
	
    </div>

