
p {
    font-size: 14px;
    color: #456;
    line-height: 1.75em;
    margin-top: 1.111em;
}

li {
    font-size: 14px;
    color: #456;
    line-height: 1.75em;
    margin-top: 1.111em;
}

h1 {
    /*font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-family: 'Garamond', 'Georgia', serif;*/
    font-family: "open sans",arial,sans-serif;
    font-weight: normal;
    margin: 0px;
    color: #345;

}

h1 a {
    color: #345;
    text-decoration: none;
}

h2 {
    color: #345;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    color: #345;
    margin-bottom: -10px;
}

body {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    /*font-family: Helvetica, arial, freesans, clean, sans-serif;*/
    margin: 0px;
    /*background-color: #E9E9EF;*/
}

hr {
    border: none;
    border-top: 1px solid #eee;
    border-top: 1px bottom #ddd;
    height: 0px;
}

.navigation {
    margin: 15px auto;
    margin-top: 40px;
    width: 700px;
}

.navigation a {
    padding-right: 10px;
    color: #39e;
    text-decoration: none;
}

.container {
    margin: 0px auto 25px auto;
    width: 700px;
    padding: 20px 45px;
}

.container-first {
}

.shadow {
    -moz-box-shadow:    -1px 1px 3px 1px #eee;
    -webkit-box-shadow: -1px 1px 3px 1px #eee;
    box-shadow:         -1px 1px 3px 1px #eee;
}

.avatar {
    width: 70px;
    height: 70px;
    margin-right: 10px; 
    border: 1px solid #eee;
    background-color: #f6f6f6;
    padding: 3px;
}

.name {
    position: relative;
    top: -30px;
    font-size: 2em;
    font-weight: bold;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    color: #468;
}

dl {
    font-size: .75em;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

dl dt {
    color: #666;
    float: left;
}

.fullname {
    position: relative;
    top: -30px;
    font-size: 2em;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    color: #9AB;
}

#topbar {
    height: 20px;
    padding: 10px;
    margin: 0px;
    color: #222;
    background: #6D99D0;
    background: linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
    background: -moz-linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6D99D0),color-stop(100%,#4E79B1));
    background: -webkit-linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
    background: -o-linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
    background: -ms-linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
    background: linear-gradient(top,#6D99D0 0%,#4E79B1 100%);
}

#topbar-inner {
    margin: 0 auto;
    width: 700px;
}

#topbar a {
    color: #def;
    text-decoration: none;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: .9em;
    margin-right: 10px;
    text-shadow: 0px -1px #666;
}


.by {
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    color: #999;
    font-size: .8em;
    margin-top: 2px;
}

.prefont {    
    font-size: 1.1em;
    line-height: 1.75em;
    padding: 20px;
    padding-left: 40px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-left: 3px solid #cde;
    font-family: 'iABCItalic',Georgia,serif;
    font-emphasis: italic;
    color: #333;
}

#topbar a:hover {
    color: #fff;
    -o-transition:.75s;
    -ms-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    /* ...and now for the proper property */
    transition:1.0s;
    text-shadow: 0px -1px #333;
}

a .name:hover {
    color: #F535AA;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

.repos {

}

p a {
    color: #468;
}